:root{
    --primary: #ae5e5d;
    --orange: #d34542;
    --secondary: #ddb1ab;
    --gray:#575656;
    --light: #faf9f9;
    --light-brown: #c29c93;
}
*{
    font-family: 'Montserrat Alternates', sans-serif !important;
}
.v-card{
    box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
    border:none !important;
}
.border-none {
    box-shadow: none !important;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: var(--orange) !important;
}
.v-icon {
    color: var(--orange) !important;
}


